button{
    color: rgb(130, 49, 205);
}

img {
    width: 500px; 
    height: 300px; 
    object-fit: cover; 
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-top: 35px;
}

input{
    padding: 10px;
    font-size: 16px;
    width: 300px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3a1f1f;
    color: white;
    border: none;
    border-radius: 5px;
}

body{
    background-color: black;
}
